html {
    overflow-x: hidden;
}
body{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas: "left center right";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
.left {
    grid-area: 1 / 1 / 1/ 1;
    background-color: #006d77;
    display: flex;
    align-items: flex-end;
}
#profil {
    width: 105%;
}
.right {
    grid-area: 1 / 3 / 1/ 3;
    border-radius: 50%;
    background-color: #83c5be;
    margin-right: -100%;
    border-right: 0;
    z-index: -1;
}
#face {
    width: 100%;
}
@font-face{
    font-family: ramona-bold;
    src: url('../fonts/ramona-bold.woff2') format('woff2'),
         url('../fonts/ramona-bold.woff') format('woff');
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}